In [2]:
import numpy as np
import pandas as pd

In [6]:
# index = pd.date_range("1/1/2000", periods=8)
index = list("pqrstuvw")

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [7]:
df

          A         B         C
p -0.459810  0.097757  0.657008
q -1.552722  1.294725  1.342987
r  0.870336 -0.688516  0.517655
s  0.171188  1.328827  1.011916
t -0.631485  0.679236 -0.563928
u  0.282119  0.710145  0.078661
v  0.194869 -0.550653  1.100464
w  0.842118 -0.895248 -0.841609

In [8]:
s

a   -0.063717
b   -0.098264
c    1.932352
d    0.863770
e    1.138182
dtype: float64